/* @override http://www.readersverdict.com/includes/uploadpost/uploadpost.css */

body {
	background-color: #fafafa;
}
div#all{
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

div#left {
	width: 90%;
    height: 500px;
	padding-left: 5%;
	float: left;
	background-color: rgba(0,0,0,0.04);
	border-radius: 15px;
	margin-top: 20px;
	margin-left: 10px;
}


input#title {
	width: 80%;
    background-color: #ffffff;
    padding: 13px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
}

select#cat {
	width: 88%;
    background-color: #ffffff;
    margin: 5px;
    cursor: pointer;
}

input {
	width: 70%;
}

input#button {
	width: 90%;
}

form {
	width: 100%;
}

textarea#desc {
	width: 84%;
    background-color: #ffffff;
    margin: 5px;
    border: none;
    border-radius: 4px;
	padding-bottom: 140px;
	padding-top: 13px;
	padding-left: 20px;
}

input#url {
	width: 78%;
    background-color: #ffffff;
    padding: 13px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
}

input[type=submit] {
    width: 450px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
div#right{
	width: 90%;
	float: right;
	background-color: rgba(0,0,0,0.04);
	border-radius: 15px;
	margin-top: 30px;
	padding: 10px;
	margin-right: 9px;
	margin-bottom: 50px;
	display: block;
}
div#homebtn{
    width: 100px;
    height: 40px;
	display: inline;
	margin-right: 40px;
	margin-left: 40px;
}

#homebtn a {
	font-family: 'Cinzel', serif;
	font-size:larger;
	color:red;
	margin-top: 7px;
}

h2 {
	position: relative;
	font-family: helvetica;
	top: 2px;
	width: 95%;
	margin-bottom: 0;
	margin-left: 10px;
}

p{
	font-family: helvetica;
}

p#a {
	font-size: 17px;
	font-weight: bold;
}

p#b {
	font-size: 14px;
	font-weight: bold;
}

p#c {
	font-size: 14px;
}

@media only screen and (min-width: 768px) {
p{
	font-family: helvetica;
}

p#a {
	font-size: 17px;
	font-weight: bold;
}

p#b {
	font-size: 14px;
	font-weight: bold;
}

p#c {
	font-size: 14px;
}


body {
	background-color: #fafafa;
}
div#all{
    width:1150px;
    margin-left:auto;
    margin-right:auto;
}

div#left {
	width: 500px;
    height: 500px;
	padding-left: 40px;
	float: left;
	background-color: rgba(0,0,0,0.04);
	border-radius: 15px;
	margin-top: 50px;
}


input#title {
	width: 400px;
    background-color: #ffffff;
    padding: 13px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
}

select#cat {
	width: 440px;
    background-color: #ffffff;
    margin: 5px;
    cursor: pointer;
}

textarea#desc {
	width: 419px;
    background-color: #ffffff;
    margin: 5px;
    border: none;
    border-radius: 4px;
	padding-bottom: 140px;
	padding-top: 13px;
	padding-left: 20px;
}

input#url {
	width: 400px;
    background-color: #ffffff;
    padding: 13px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
}

input[type=submit] {
    width: 450px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
div#right{
	width: 480px;
    height: 480px;
	padding-left: 40px;
    padding-right: 40px;
	float: right;
	background-color: rgba(0,0,0,0.04);
	border-radius: 15px;
	margin-top: 50px;
}


div#homebtn{
    width: 100px;
    height: 40px;
	display: inline;
	margin-right: 40px;
	margin-left: 40px;
}

#homebtn a {
	font-family: 'Cinzel', serif;
	font-size:larger;
	color:red;
	margin-top: 7px;
}

h2 {
	display: inline;
	position: relative;
	font-family: helvetica;
	top: 2px;
}

}

