body {
	margin: 0;
	background-color: #fafafa;
	font-family: helvetica;
}

div#feed {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	font-family: helvetica;
}
div#article {
	background-color: #feffff;
	border-right: 1px solid #a3a3a3;
	border-bottom: 1px solid #a3a3a3;
	border-left: 1px solid #a3a3a3;
	margin-bottom: 7px;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	width: 98%;
}

div#posttop {
	font-size: 10px;
	background-color: #ebebeb;
	margin-top: -10px;
	border-top: 1px solid #a3a3a3;
	border-bottom: 1px solid #c5c5c5;
	padding-bottom: 6px;
	padding-top: 6px;
	margin-bottom: 12px;
}
p#name1 {
	display: inline;
	float: left;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 5px;
	width: 25%;
	font-weight: bold;
}

p#name2 {
	display: inline;
	margin-bottom: 0;
	margin-top: 0;
	float: left;
	width: 25%;
}

p#name3 {
	display: inline;
	position: relative;
	margin-top: 0;
	margin-right: 5px;
}

#posttop i.material-icons {
	font-size: 9px;
	display: inline;
	position: static;
	margin-left: 30px;
}

p#name4 {
	display: inline;
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 5px;
	float: right;
}

.userbox{
	float:right;
	padding-right:5px;
	margin-right: 10px;
	display: inline-block;
	margin-top: 3px;
}

p#creduser {
	display: inline;
		font: normal 12px Helvetica;
}

p#postuser {
	display: inline;
	margin-left: 5px;
	font: bold 12px Helvetica;
}

#load h2 a {
	font-weight: bold;
	text-decoration: underline;
	font-family: Helvetica;
	display: inline;
	float: none;
	color: #000;
}

p#posttitle {
	font-weight: bold;
	font-family: Helvetica;
	float: none;
	color: #000;
	margin-bottom: 15px;
}

#article h2 {
	margin: 7px 15px -3px;
}

a#articlelink{
	font: 10px Helvetica;
	padding-left: 15px;
	color: #000;
	display: inline-block;
	margin-top: 8px;
	float: left;
}

p#postdesc {
	width: 90%;
	margin-bottom: 25px;
	font: normal 14px Helvetica;
	margin-left: 15px;
	margin-top: 60px;
}

div#load {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	font-family: helvetica;
}

div[id^="votedemo"] {
	font: 12px Helvetica;
	border-top:solid;
	border-width: 1px;
	border-color: #a3a3a3a3;
	height: 35px;
	}
p#artfake{
	font:12px Helvetica;
	margin-bottom:-18px;
  padding-top:2px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 0px;
}

div#votebar {
	margin-left: auto;
	margin-right: auto;
	z-index: 0;
	margin-top:23px;
	width:50% ;
	height:6px;
}

button#votetrue {
	float: left;
	width: 70px;
	height: 35px;
	background-color: #ff4145;
	border: 2px solid #ff4145;
	font-family:"Arial";
	color:white;
	font-weight:bold;
}
button#votefalse {
	float: right;
	width: 70px;
	height: 35px;
	background-color: #3fa43f;
	border: 2px solid #3fa43f;
	font-family:"Arial";
	color:white;
	font-weight:bold;
}

div#comment {
	display: inline-block;
	width: 100%;
	border-left: 1px solid #000;
	margin-bottom: 8px;

}

div#comdemo {
	width: 97%;
	margin-left: auto;
	margin-right: auto;
}
button#loadcomments{
	margin-top:10px;
	margin:10px;
	margin-left:0px;
}

input#com {
	margin-bottom: 7px;
	width: 90%;
	height: 25px;
	margin-left: 2%;
}

button#go {
	margin-left: 3%;
	margin-bottom: 70px;
}

div#ball{
	width: 40px;
	height: 40px;
	border-radius:100px;
	background-color: #ff2600;
	display: inline;
	float: left;
}

p#username {
	display: inline;
	float: left;
	margin-top: 10px;
	margin-bottom: 0;
	margin-left: 5px;
	font-weight: bold;
	font-size: 12px;
}

p#comtime {
	display: inline;
	float: left;
	margin-top: 10px;
	margin-bottom: 0;
	color: #b2b2b2;
	font-size: 12px;
	margin-left: 12px;
}

p#comupdown {
	float: right;
	display: inline;
	clear: both;
	margin: 0 4px 0 0;
}

p#comment {
	position: relative;
	float: left;
	margin-left: 50px;
	margin-bottom: 0;
	width: 70%;
	font-size: 14px;
	margin-top: -20px;
}

button#upp {
	display: inline;
	float: right;
	padding: 0;
	border-style: none;
	background-color: #fafafa;
}

p#pilupp {
	margin: 1px 0;
}

i.material-icons {
	font-size: 16px;
	
}

button#ner {
	display: inline;
	float: right;
	padding: 0;
	clear: both;
	border-style: none;
	background-color: #fafafa;
}

p#pilner {
	margin: 1px 0;
}


p#comnr {
	display: inline;
	float: left;
	margin: 0;
	font-size: 9px;
	clear: left;
	position: static;
}

div#user {
	width: 70%;
	height: 40px;
	display: inline-block;
	float: left;
	margin-bottom: -25px;
	margin-left: 3px;
}




@media only screen and (min-width: 768px) {
body {
	margin: 0;
	background-color: #fafafa;
}

div#feed {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	font-family: helvetica;
}

div#article {
	background-color: #feffff;
	border-right: 1px solid #a3a3a3;
	border-bottom: 1px solid #a3a3a3;
	border-left: 1px solid #a3a3a3;
	margin-top: 70px;
}

div#posttop {
	font-size: 10px;
	background-color: #ebebeb;
	margin-top: -10px;
	border-top: 1px solid #a3a3a3;
	border-bottom: 1px solid #c5c5c5;
	padding-bottom: 6px;
	padding-top: 6px;
	margin-bottom: 12px;	
}

p#name1 {
	display: inline;
	float: left;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 5px;
	width: 170px;
	font-weight: bold;
}

p#name2 {
	display: inline;
	margin-bottom: 0;
	margin-top: 0;
	float: left;
	width: 285px;
}

p#name3 {
	display: inline;
	position: relative;
	margin-top: 0;
	margin-right: 5px;
}

#posttop i.material-icons {
	font-size: 9px;
	display: inline;
	position: static;
}

p#name4 {
	display: inline;
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 5px;
	float: right;
}

.userbox{
	float:right;
	padding-right:5px;
}

p#creduser {
	display: inline;
	font: normal 12px Helvetica;
}

p#postuser {
	display: inline;
	margin-left: 5px;
	font: bold 12px Helvetica;
}

#load h2 a {
	font-weight: bold;
	text-decoration: underline;
	font-family: Helvetica;
	display: inline;
	float: none;
}

#article h2 {
	margin-left: 5px;
	margin-top: 7px;
	margin-bottom: -3px;
}

a#articlelink{
	font: 10px Helvetica;
	padding-left: 15px;
	color: #000;
	display: inline-block;
	margin-top: 8px;

}

p#postdesc {
	width: 530px;
	margin-top: 40px;
	margin-left: 8px;
	margin-bottom: 25px;
	font: normal 13px Helvetica;
}



div[id^="votedemo"] {
	font: 12px Helvetica;
	border-top:solid;
	border-width: 1px;
	border-color: #a3a3a3a3;
	height: 35px;
	}
	
p#artfake{
	font:12px Helvetica;
	margin-bottom:-18px;
	padding-top:2px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 0px;
}

p#posttitle {
	font-weight: bold;
	font-family: Helvetica;
	display: inline;
	float: none;
	color: #000;
}

div#votebar {
	display: inline;
	margin-left: 25px;
	position: absolute;
	z-index: 0;
	margin-top:23px;
	width: 400px;
	height:  6px;
}

button#votetrue {
	float: left;
	width: 70px;
	height: 35px;
	background-color: #ff4145;
	border: 2px solid #ff4145;
	font-family:"Arial";
	color:white;
	font-weight:bold;
}

button#votetrue:hover{
	background-color: #d73539;
	border: 2px solid #d73539;

}
button#votefalse {
	float: right;
	width: 70px;
	height: 35px;
	background-color: #49b948;
	border: 2px solid #49b948;
	font-family:"Arial";
	color:white;
	font-weight:bold;
}

button#votefalse:hover{
	background-color: #399539;
	border: 2px solid #399539;

}

div#comment {
	display: inline-block;
	width: 100%;
	border-left: 1px solid #000;
	margin-bottom: 20px;
}
button#loadcomments{
	margin: 10px ;
}

input#com {
	margin-bottom: 7px;
	width: 95%;
	height: 25px;
}

div#ball{
	width: 40px;
	height: 40px;
	border-radius:100px;
	background-color: #ff2600;
	display: inline;
	float: left;
}

p#username {
	display: inline;
	float: left;
	margin-top: 10px;
	margin-bottom: 0;
	margin-left: 5px;
	font-weight: bold;
	font-size: 12px;
}

p#comtime {
	display: inline;
	float: left;
	margin-top: 10px;
	margin-bottom: 0;
	color: #b2b2b2;
	font-size: 12px;
	margin-left: 12px;
}

p#comupdown {
	float: right;
	display: inline;
	clear: both;
	margin: 0 3px 0 0;
}

p#comment {
	position: relative;
	float: left;
	margin-left: 50px;
	margin-bottom: 0;
	width: 460px;
	font-size: 13px;
	margin-top: -20px;
}

button#upp {
	display: inline;
	float: right;
	padding: 0;
	font-size: 1px;
}

i.material-icons {
	font-size: 15px;
	margin: 0;
}

p#comnr {
	display: inline;
	float: left;
	margin: 0;
	font-size: 9px;
	clear: left;
	position: static;
}

div#user {
	width: 70%;
	height: 40px;
	display: inline-block;
	float: left;
	margin-bottom: -25px;
	margin-left: 3px;
}

button#ner {
	display: inline;
	float: right;
	padding: 0;
	font-size: 1px;
	clear: both;
}
}