
ul#srk {
	text-align: center;
	color: #fbfefb;
	height: 25px;
	width: 99%;
    list-style-type: none;
	margin-top: 60px;
	margin-left: 1%;
	padding-left: 0;
}
li#srk a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
	font: normal 11px Helvetica;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.activesrk {
  background-color: #4CAF50;
  color: white;
}


li#srk {
	background: silver;
	float: left;
	width: 33%;
}



@media only screen and (min-width: 768px) {
ul#srk {
	position: static;
	text-align: center;
	color: #fbfefb;
	width: 600px;
    list-style-type: none;
    background-color: #333;
	margin-right: auto;
	margin-left: auto;
	margin-top:60px;
	background: silver fixed;
		
}
li#srk a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
	font: normal 11px Helvetica;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 0;
    padding-left: 0;
}
.activesrk {
  background-color: #4CAF50;
  color: white;
}

li#srk a:hover:not(.active)  {
    background-color: grey;
}

li#srk {
	width: 200px;
}
}
